<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Medical Website</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #88cde0;">
        <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='images/LogoWeb.png') }}" alt="Logo" style="height: 80px;">
            No Stroke Zone
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="container mt-5">
        <h1 class="text-center">About Us</h1>
        <p class="mt-4 text-justify">
            Our mission is to provide accessible healthcare solutions to everyone. We connect people with qualified healthcare professionals and offer a platform for remote health monitoring. Whether you need personalized therapy or health insights, we aim to simplify the process and improve health outcomes.
        </p>
    </div>
</body>
</html>
